// @mixin inset-divider-offset($offset, $padding) {
//   $divider-offset: (2 * $padding) + $offset;
//   @warn 'divider offset: #{$divider-offset}';

//   margin-left: $divider-offset;
//   width: calc(100% - #{$divider-offset});
// }

.nav-icon-link {
  .anticon {
    font-size: 2.4rem;
    vertical-align: top;
    transition: transform 0.4s;
  }
  &:hover > .anticon {
    transform: scale(1.3);
  }
}

// @mixin ipad {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }

// .header {
//   width: 1000px;
//   @include ipad {
//     width: 500px;
//   }
// }

// .footer {
//   color: blue;
//   @include ipad {
//     color: red;
//   }
// }
