.pancake-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
}
.pancake-container > * {
  margin-top: 0;
  margin-bottom: 0;
}

.pancake-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.6rem;
  padding: 0rem 1.6rem;
  border-bottom: 1px solid rgb(231, 227, 235);
}
.pancake-header > * {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.row {
  display: flex;
  align-items: center;
}
.row > * {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.pancake-main {
  display: flex;
  align-items: center;
}
.pancake-main > * {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.pancake-footer {
  display: flex;
  align-items: center;
  background: rgb(39, 38, 44);
}
.pancake-footer > * {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.pancake-flex-row {
  display: flex;
  align-items: center;
}
.pancake-flex-row > * {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}