// variables
@import 'variables';
// mixin
@import 'mixin';

.pancake-menu-popup.ant-menu-submenu-popup {
  width: 28rem;
  font-size: 1.6rem;
  color: rgb(122, 110, 170);
  font-weight: 600;
  .ant-menu-item-selected {
    font-weight: 700;
  }
}
